@model Website_Verstegen.Models.Product

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}


<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <dl class="col-md-3 dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Contents)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contents)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DownloadLink)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DownloadLink)
            </dd>
        </dl>
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd>
                <img class="img-responsive product-image" src="@Model.ImageUrl" />
            </dd>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
