@model Website_Verstegen.Models.Story

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<h2>Create</h2>

<h4>Story</h4>
<hr />
<div class="row">
    @using (Html.BeginForm("Create", "Stories", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
            <h4>@ViewBag.Error</h4>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.Label("ImageUrl", "ImageUrl")
            @Html.TextBox("ImageUrl", "ImageUrl", new { @class = "form-control", type = "file" })
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div>
            <h4>@ViewBag.ImageNull</h4>
        </div>
        <div class="form-group">
            <label asp-for="Theme.ThemeName" class="control-label"></label>
            @*<select asp-for="ThemeId" class="form-control" asp-items="ViewBag.ThemeId"></select>*@
            @Html.DropDownListFor(m => m.ThemeId, (SelectList)ViewBag.ThemeId, "--Please select--", new { @class = "form-control", required = "required" })
            <span asp-validation-for="ThemeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}