@model Website_Verstegen.Models.Theme

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Theme</h4>
    <hr />
    <div class="row">
        <dl class="col-md-3 dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ThemeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThemeName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <div class="col-md-3">
            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd>
                <img class="img-responsive crud-image" src="@Model.ImageUrl" />
            </dd>
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ThemeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>